<footer class="px-5 pb-8">
	<div class="mx-auto w-full max-w-[42rem] border-t border-[#eee] pt-8">
		<p class="text-center text-[0.875rem] font-normal text-[#aaa]">&copy; 2026 Mendelow Studio</p>
	</div>
</footer>
